/* Reset */
body, h1, h2, h3, h4, a, p, div, section, ul, li  {margin:0; padding:0; text-decoration:none; list-style-type:none;}
a:visited, a:link {color: #000;} 
ul { -webkit-margin-start: 0px; -webkit-margin-end: 0px; -webkit-padding-start: 0px;}

/* Layout */
body { width: 100%; }
header, footer { padding-left: 20px;}
ul.nav {display: inline; float: left; width: 100%; margin-bottom: 40px;}
ul.nav li {  float: left; padding-right: 40px; }
ul.nav li:last-child {padding-right: 0;}


.libraryWrapper { width:100%; max-width: 97.5%; padding: 0px 2%; clear: both;} 
p, h2.title, h2.author, h2.student, .book-info li  { border-top: 1px solid #000;}
footer { border-top: 1px solid #000; width: 100%; background: #fff; z-index: 0; clear: both;}
footer ul { display: inline-block; width: 100%;}
ul.one-fourth { width: 21.5%; margin-right: 20px; float: left;}
br {line-height: 1.8;}

/* HOVER */
a:hover {background-color:#FFFF99;}
.entry a:hover, a.student:hover, a.author:hover, a.title:hover, a.borrow:hover {background-color:#FFF; text-decoration: underline;}

/* Typography */
p, ul, li, a, h2, input, text area, select, form {font: 21px 'Arial'; line-height: 1.8;  }
h1, h1 a { font-weight: 800; line-height: 30px;}
p, ul, li, a, h2 { line-height: 1.8;}
a.student, h2.student, span.student, label.student { color: #3333FF; }
a.title, h2.title, span.title, label.title { color: #FF3300;}
a.author, h2.author, span.author, label.author { color: #FFCC00;}
span.created { color: #339933;}
a.borrow { float:right;}
.on-loan { text-decoration: line-through;}

/* form */
form {
	line-height: 1.8;
	margin: 0 auto auto;
	float:left;
	background: #fff;
	width: 100%;
}


form li {
	border-top: 1px solid #000;
	
}

book_form ul {
	list-style-type:none;
    list-style-position:outside;
    margin:0px;


}

book_form ul li {
    width: 100%;
    
}

label {
	width:15%;
    display: inline-block;
}


intput,  input:focus, textarea:focus { 
    border: none; 
    
    } 


input, text area, select    {
box-shadow: none !important;
width: 85%;
border: none;
outline: none;;
line-height: 1.8;
box-sizing: border-box;
-webkit-box-sizing: border-box; 
-moz-box-sizing: border-box; 
padding: 0;
float: right;
clear:both;
}



input.submit {
 -webkit-border-radius: 0;
  -moz-border-radius: 0;
  bottom: 0;
  position: fixed;
  border-radius: 0px;
  width: 100%;
  border-top: 1px solid #000;
  text-align: center;
  color: #000;
  background: #fff;
  text-decoration: none;
  padding: 0 20px;

}

input.submit:hover {
	background-color: #FFFF99;
    text-decoration: none;
    cursor: pointer;
}

/* MEDIA */

@media screen and (max-width: 720px) {
    .libraryWrapper { width:100%; max-width: 98.5%; padding: 0px 10px; clear: both;}
    
    p, ul, li, a, h2, input, text area, select, form {font: 12px 'Arial'; line-height: 1.4;  }
    ul.nav li, ul.one-fourth {display: block; float: left; width: 100%;}
    footer ul {display: block;}
    label, input, text area, select, form { width:100%; display: inline-block;}
    
    span.created, a.borrow { display: block; }
    
}


